.header{
  background-color:lightblue;
  line-height: 80px;
font-size: 60px;
}
.footer{
  background-color:lightblue;
}
.image{
  height:300px;
  width: 400px;
}
.pics{
  height:300px;
  width: 400px;
}