.header{
  background-color:lightblue;
  line-height: 100px;
font-size: 50px;
height: 120px;
font-family: cursive;
 display:flex;
  justify-content:center;
}
.header2{
  background-color:lightblue;
  font-size:30px;
  height: 100px;
   display:flex;
  justify-content:center;
}
footer{
  background-color:lightblue;
  bottom: 0;
  width:100%;
  font-family: cursive;
  font-size: 30px;

}
.pics{
  height:300px;
  width: 300px;
  }
.section1{
  color:white;
  height: 100px;
   font-weight: bold;
border-left: 1px solid white;
    border-bottom: 1px solid white;
       background-color: rgba(100, 100, 100, 0.5);
}

.section2{
  color:whitesmoke;
  height:100px;
   font-weight: bold;
 border-left: 1px solid white;
    border-bottom: 1px solid white; 
    background-color: rgba(100, 100,100, .5);

}
.section3{
  color: whitesmoke;
  height:100px;
   font-weight: bold;
  border-left: 1px solid white;
    border-bottom: 1px solid white;
    background-color: rgba(100, 100,100, .5);
 
  }
.section4{
  color: whitesmoke;
  height:100px;
   font-weight: bold;
 border-left: 1px solid white;
    border-bottom: 1px solid white;
    background-color: rgba(100, 100,100, .5);
  }
 
body {
  background-image: url("lake.jpg");
  background-size: cover;
    background-position: top;
}
.jpg{
  height:100px;
  width: 100px;
}

.picture{
  height:50vh;
  margin-bottom: 2px;
}

.picture-pos{
  display:flex;
  justify-content:flex-end;
}
.text1{
  color: white;
  font-size: 20px;
  font-weight: bold;
  background-color:rgba(33, 61, 39, 0.3);
}
.text2{
  color:rgb(185, 28, 28);
  font-size: 120px;
   background-color:rgba(100, 100, 100, .3);
  margin-left:40px;
   margin-right: 70px;
}
.text3{
  color:whitesmoke;
   font-size: 20px;
   background-color:rgba(100, 100, 100, .3);
   margin-right: 30px;
    display:flex;
  justify-content:center;
}
.text4{
  color:whitesmoke;
   font-size: 50px;
   background-color:rgba(100, 100, 100, .3);
   margin-right: 20px;
}
.text5{
  color:rgb(152, 87, 238);
  font-size: 120px;
   background-color:rgba(100, 100, 100, .3);
   margin-right: 80px;
}
.text6{
  color:rgb(134, 214, 238);
  font-size: 125px;
   background-color:rgba(100, 100, 100, .3);
   margin-right: 90px;
}
.text7{
  color:rgb(151, 238, 134);
  font-size: 125px;
   background-color:rgba(100, 100, 100, .3);
   margin-right: 80px;
}
.text8{
  color:rgb(235, 12, 160);
  font-size: 125px;
   background-color:rgba(100, 100, 100, .3);
 
}
.bullet1{
  color:whitesmoke;
   font-size: 20px;
   background-color:rgba(100, 100, 100, .3);
   margin-right: 30px;
    display:flex;
  justify-content:center;
}
.bullet2{
  color:whitesmoke;
   font-size: 20px;
   background-color:rgba(100, 100, 100, .3);
   margin-right: 30px;
    display:flex;
  justify-content:center;
}
.bullet3{
  color:whitesmoke;
   font-size: 20px;
   background-color:rgba(100, 100, 100, .3);
   margin-right: 30px;
    display:flex;
  justify-content:center;
}
